<div id = "alert_placeholder"></div>
<form role="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" id="usernameForm" value="<%= username %>" placeholder="Enter new username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="passwordForm" placeholder="Enter new password">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="emailForm" value="<%= email %>" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input class="form-control" id="phoneForm" value="<%= phone %>" placeholder="Enter phone number">
  </div>
  <button type="submit" class="btn btn-primary submit">Submit</button>
</form>